body {
	margin: 0;
}

#container {
	width: 1024px;
	margin: 5vh auto;
}

#navigator {
	width: 250px;
	height : 90vh;
	float: left;
}

/* navigator style */

#main {
	box-sizing: border-box;
	height : 90vh;
	overflow: auto;
	padding: 15px;
}

.menu li {
  width: 150px;
  padding: 10px 10px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 8px;
	list-style-type: none;
	background-color: #ff6600;
	color: #fff;
}

a {
	text-decoration: none;
}

a:hover li {
	border: 1px solid #ff6600;
	background-color: #fff;
	color: #ff6600;
	font-weight: 800;
}

/* about me */
#my-avatar {
	margin-right: 20px;
	float: left;
}

#my-avatar img {
	width: 200px;
}

h1, h3 {
	margin: 0;
}

table {
	font-size: 14px;
	text-align: left;
}

th, td {
	vertical-align: top;
}

td {
	color: #666;
	padding-left: 10px;
}

hr {
	border: 0.5px solid #eee;
}

