body {
	margin: 0;
}

#container {
	width: 1024px;
	margin: 5vh auto;
}

#navigator {
	width: 250px;
	height : 90vh;
	float: left;
}

/* basic style */

h1 {
	text-align: center;
}

h3 {
	margin: 0;
}

hr.bar {
	border: 2px solid #ff6600;
	width: 80px;
	margin-top: 25px;
}

/* navigator style */

#main {
	box-sizing: border-box;
	height : 90vh;
	overflow: auto;
	padding: 15px;
}

.menu li {
  width: 150px;
  padding: 10px 10px;
  margin-bottom: 15px;
  text-align: center;
  border-radius: 8px;
	list-style-type: none;
	background-color: #ff6600;
	color: #fff;
}

a {
	text-decoration: none;
}

a:hover li {
	border: 1px solid #ff6600;
	background-color: #fff;
	color: #ff6600;
	font-weight: 800;
}

/* about me */

#about h1 {
	text-align: left;
	margin-bottom: 0;
}

#my-avatar {
	margin-right: 20px;
	float: left;
}

#my-avatar img {
	width: 200px;
}

table {
	font-size: 14px;
	text-align: left;
}

th, td {
	vertical-align: top;
}

td {
	color: #666;
	padding-left: 10px;
}

hr {
	border: 0.5px solid #eee;
}

/* my profolio */

.my-work-gallery {
	text-align: center;
}

.portfolio-item {
	position: relative;
	max-width: 30%;
	display: inline-block;
}

.portfolio-item img {
	width: 100%;
}

.portfolio-item-info:hover {
  opacity: 1;
}

.portfolio-item-info {
	opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 25px 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: rgba(255,255,255,.8);
}

.portfolio-item-info p {
  font-size: 10px;
}

/* contact me */
form.contact-form {
	width: 50%;
	margin: 0 auto;
}

.form-row {
	margin-bottom: 15px;
}

input[type="text"], input[type="email"], textarea {
  border-radius: 3px;
  width: 100%;
  border: 1px solid #D6D9DC;
  background-color: #FFFFFF;
  padding: 7px;
}

.form-row textarea {
	resize: none;
	height: 4em;
}

.form-row button {
  color: #FFFFFF;
  background-color: #5995DA;
  border: none;
  border-radius: 3px;
  padding: 10px 15px;
  cursor: pointer;
}

.form-row button:hover {
  background-color: #76AEED;
}

.form-row button:active {
  background-color: #407FC7;
}
